<div class="container-fluid">
  <h2 class="text-center">Create a new Goal</h2>
  <hr>
  <form (ngSubmit)='submit()' #quotesForm='ngForm'>
   <div class="form-group">
    <label for="auother">Auothers Name</label>
    <input required ngModel name="auother" #auother="ngModel" id="auother" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="auother.touched && !auother.valid">Auother name is required</div>
</div>
<div class="form-group">
  <label for="quote">Write quote</label>
  <textarea required ngModel name="quote" #quote="ngModel" id="quote" cols="12" rows="12"
    class="form-control"></textarea>
  <div class="alert alert-danger" *ngIf="quote.touched && !quote.valid">the quote is required</div>
</div>
<button class="btn btn-primary">submit</button>
</form>