<div class="container">
    <h1>My quotes</h1>
    <hr>
  
    <div class="row">
      <div class="col-md-12">
        <div *ngFor='let quotes of quotes;let i = index'>
          <div>
            <!-- <h4 id={{i}} appStrikethrough>{{quotes.name}} due on {{quotes.completeDate|date|uppercase}}</h4> -->
            <button (click)='toggleDetails(i)' class="btn btn-primary">view Details</button>
          </div>
  
          <div *ngIf='quotes.showDescription'>
            <app-quotes-detail  [quotes]='quotes' (isComplete) = 'deleteQuotes($event,i)'></app-quotes-detail>
          </div>
        </div>
        <div class="col-md-12">
            <app-quotes-form (addQuotes)="addNewQuotes($event)"></app-quotes-form>
    </div>
      </div>
      <p *ngIf='quotes.length > 5'>You have too many quotes</p>
    </div>
  </div>